*
{
    box-sizing: border-box;
	margin: 0;
	padding: 0;  
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 250px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#loading
{
    width: 100%;
    height: 100%;
    background-color: #09c;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 64764647;
}
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 5;
    background-color:#ec3237!important;
  
}
#btnUp i
{
      color: white;
}
.body
{
    font-size: 25px;
    overflow: hidden;
}
.navbar
{
    margin: 0px;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
    position: fixed;
    background-color: black;
 
    overflow: auto;
}
.logo 
{
    float: left;
}
.logo img
{
   height: 77px;
}
.nav_title
{
    padding: 25px 30px;
    font-size: 18px;
    font-weight: bold;
    float: right;
    color: white;  
}
.nav_bottons
{
    float: right;
    border:0px;
}
.navbar-brand
{
    font-size: 14px;
    font-weight: bold;
}

.navbar-nav ul
{
    list-style: none;
}
.nav-item a
{
    text-decoration: none;
}
.header_body
{
    background-image: url(../imgs/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.cover
{
    width: 100%;
    height: 100%;
    background-color: rgba(236, 51, 55, 0.7);
    color: white;
}
.test2
{
    padding-top: 200px;
    padding-left: 80px;
}
.test2 h2
{
    padding-right: 50px;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0px 5px 10px #af2424;;
}
.test2 h3
{
    padding-bottom: 40px;
}
.btknow
{
    padding: 10px 40px;
    background-color: #ec8585;
    border: 1px solid white;
}
.btknow a
{
      color: white!important;
    text-decoration: none;
}
.aboutme
{
    padding-top: 40px;
}
.image
{
    padding-bottom: 30px;
}
.image img
{
    width: 100%;
}
.data h1
{
   font-weight: bold;
    font-size: 35px;
    color: #444444;
}
.data h3
{
    font-size: 20px;
    color: #666666;
}
.data p
{
    color: #777777;
    font-size: 18px;
}
.icons
{
   border-top: 1px solid #fafafa;
    margin-top: 20px;
    overflow: auto;
     padding-top: 5px;
    padding-bottom: 30px;
}
.social_icons ul 
{
    list-style: none;
}
.social_icons ul li
{
    float: left;
    padding-right: 10px;
}
.social_icons ul li a
{
    color: #777777;
   text-align: center;
    line-height: 40px;
     border: 1px solid #999999;
    padding: 10px 10px;
    transition:  all 0.5s;
    
}
.social_icons  a:hover
{
   background-color:   #ec3237;
     border: 1px solid  #ec3237;
    color: white;
}

#options-container
{
    
    position: fixed;
    top:100px;
    overflow: auto;
    z-index: 10;
}
#toggleBtn
{
    float: left;
    background-color: teal;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 25px;
}
#options-box
{
    background-color: white;
    float: left;   
}
#options-box h5
{
    color: teal;
    padding: 10px;
}
 .imagebox  img
{
    padding-left: 6px;
}
#options-box ul li
{
    width: 25px;
    
    height:25px;
    background-color: olivedrab;
    display: inline-block;
    cursor: pointer;
}
#options-box .img-change
{
    width:30px;
    height: 40px;
    cursor: pointer;
}
#plus
{
    font-size: 30px;
    padding-left: 5px;
    cursor: pointer;
}
#minus{
    font-size: 30px;
    padding-left: 5px;
    cursor: pointer; 
                                     
}
#services
{
    width: 1px;
    height: 3px;
    text-align: center;
    background-color: green!important;
    overflow: auto;
}
#services h2
{
    display: none;
}
.service
{
    width: 33.33%;
    float: left;
    padding: 20px;
    display: none;
}
.test
{
    width:200px;
    height: 200px;
    background-color: blue;
   
}

.skill_data h2
{
    color: #444444;
    font-weight:700;
    padding-bottom: 15px;
    
}
.skill_data p
{
    color: #777777;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 40px;
}
.test1
{
    overflow: auto;
    margin: 0;
    padding-bottom: 90px;
  
}
.title
{
  float: left;
    padding-top: 20px;
}
.percentage
{
    padding-top: 20px;
    float: right !important;
}
.progress
{
    width: 100%;
    background-color: #f5f5f5;
    
}
.progress_line
{
  
  background-color: #ec3237;
}
.skills .col-md-12
{
    padding-bottom: 40px;
}

.main-section 
{
    background-color: #f5f5f5;
  padding-top: 40px;
    padding-bottom: 70px;
}
.services p
{
    padding-bottom: 40px;
}

.portfolio 
{
   
    border: 1px solid #eeeeee;
    border-radius: 3px;
    margin-bottom:30px;
   padding-top: 20px;
    background-color: white;
}
.portfolio:hover h5
{
    color: #ec3237;
}
.portfolio h5
{
    color: #444444;
    font-weight: 700;
}
.portfolio p
{
    color: #777777; 
}
.count
{
    background-image: url(../imgs/project-counter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    background-position: center;
    
}
.counter
{
    padding: 40px;
    margin-top: 50px;
    border:  1px solid rgba(255,255,255,0.1);
    
}
.counter p
{
    font-size: 40px;
    font-weight: 700;
}
.counter h4
{
    color: #ec3237;
}
.section_portfolio 
{
    background-color: #f5f5f5;
}
.nav-tabs .nav-link{
  
    border:1px solid rgba(0,0,0,0.1);
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link
{
    color: #444444;
    font-size: 16px;
    font-weight: 600;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    
    background-color: #ec3237;
    color: #fff
}
.coltest
{
    background-color: white;
    padding-bottom: 20px;
}
.coltest h4
{
    padding-top: 9px;
    color: #444444;
    font-weight: 600;
    font-size: 20px;
}
.coltest h6
{
       color: #777777;
}

.slider
{
    background-image: url(../imgs/client-testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.designer img
{
    border: 5px solid #ec3237;
}
.designer p
{
    color: white!important;
}
.designer h2
{
    color: #ec3237;
    font-size: 25px;
}
.designer h4
{
    color: white!important;
}

.carousel-control-prev-icon
{
    margin-left: -55px;
}
.carousel-control-next-icon
{
     margin-right: -55px;
}

.form-control
{
    border: 1px solid #cccccc;
    box-shadow: none;
    border-radius: 0px;
    color: #444444;
    width: 100%;
}
.form-control:hover
{
     box-shadow: none;
     border: 2px solid black;
}
.btn
{
    padding: 10px 20px;
    border-radius: 0px;
    color: white;
    background-color: #ec3237;
    transition: all 0.5s ease-in-out ;
}
.btn:hover
{
    background-color: #BF360C;
        color:white;
}
.copyright
{
       border-top: 2px solid  #fafafa;
}
.copyright p
{
    color: #9e9e9e;
}
.col-md-12 .link
{
    color:#BF360C;
    text-decoration: none;
}
